body {
  font-family: Monospace;
  margin: 0;
  padding: 20px;
}
h1, h2, h3 {
  margin: 0.8em 0;
}
h1{
  font-size: 16pt;
}
a {
  color: #007bff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
a:hover{
  color: #0056b3;
}
img {
  height: 100px;
  width: auto;
}
p {
  line-height: 1.5;
  margin-bottom: 1em;
}
nav {
  background-color: #eee;
  padding: 10px;
}
ul {
  list-style: disc;
  padding: 0;
  margin: 0;
}
ol {
  list-style: decimal;
  padding: 0;
  margin: 0;
}
li{
  margin-bottom: 10px;
}
button {
  background-color: #0095ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
