body {
  font-family: Monospace;
  margin: 0;
  padding: 10px;
}
h1, h2, h3 {
  margin: 0.2em 0;
}
a {
  color: #007bff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
#home {
  background-color: rgb(229, 228, 226);
}
a:hover{
  color: #0056b3;
}
img {
  height: 100px;
  width: auto;
}
p {
  line-height: 1.5;
  margin-bottom: 1em;
  font-size: 12px;
}
nav {
  background-color: #eee;
  padding: 10px;
}
ul {
  list-style: disc;
  padding: 0;
  padding-left: 1em;
  margin: 0;
}
ol {
  list-style: decimal;
  padding: 0;
  margin: 0;
}
li{
  margin-bottom: 10px;
}
